[Unit]
Description=Euclid
After=network.target sound.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/euclid

[Install]
WantedBy=multi-user.target
