[Unit]
Description=Analogorium
After=network.target sound.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/josiah/euclidean-dreams/analogorium
ExecStart=/home/josiah/euclidean-dreams/analogorium/cmake-build-sjofn/analogorium

[Install]
WantedBy=multi-user.target
