[Unit]
Description=Analogorium
After=network.target sound.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
ExecStart=/usr/local/analogorium

[Install]
WantedBy=multi-user.target
