[Unit]
Description=Cosmographer
After=analogorium.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/josiah/euclidean-dreams/cosmographer
ExecStart=/home/josiah/euclidean-dreams/cosmographer/cmake-build-sjofn/cosmographer

[Install]
WantedBy=multi-user.target
