[Unit]
Description=Cosmographer
After=analogorium.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
ExecStart=/usr/local/cosmographer

[Install]
WantedBy=multi-user.target
