[Unit]
Description=Euclid
After=network.target sound.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/josiah/euclidean-dreams/euclid
ExecStart=/home/josiah/euclidean-dreams/euclid/cmake-build-sjofn/euclid

[Install]
WantedBy=multi-user.target
