[Unit]
Description=Luciferon
After=cosmographer.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
ExecStart=/usr/local/luciferon

[Install]
WantedBy=multi-user.target
