[Unit]
Description=Luciferon
After=cosmographer.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/josiah/euclidean-dreams/luciferon
ExecStart=/home/josiah/euclidean-dreams/luciferon/cmake-build-release-sjofn/luciferon

[Install]
WantedBy=multi-user.target
