[Unit]
Description=Promenade
After=cosmographer.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/josiah/euclid
ExecStart=/home/josiah/euclid/promenade

[Install]
WantedBy=multi-user.target
