[Unit]
Description=Sjofn
After=network.target sound.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
ExecStart=/usr/local/sjofn

[Install]
WantedBy=multi-user.target
